<ion-view title='<img class="title-image" src="img/kazimir_logotype.svg" />' ng-controller="StreetController">
  <ion-nav-bar class='list-bar'></ion-nav-bar>
  <ion-nav-buttons side='primary'>
    <a class='button button-icon icon custom-icon' nav-direction='back' href='#/map-view'><img src="img/map_icon.svg"></a>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <ion-list>
        <ion-item class='item-kazimir' ng-repeat='street in streets'>
          <div class="street-item">
            <img ng-src="{{street.places.present[0].photos[0].images.medium}}">
            <div class="list-item-buttons">
              <a class="button button-icon ion-chevron-left" nav-direction='forward' ng-click="singlePostOld(street)"></a>
              <span ng-model="item">{{street.name}}</span>
              <a class="button button-icon ion-chevron-right" nav-direction='back' ng-click="singlePostNew(street)"></a>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
