<ion-view title='<img class="title-image" src="img/kazimir_logotype.svg" />' ng-controller="MapCtrl">
  <ion-nav-bar class='list-bar'></ion-nav-bar>
  <ion-nav-buttons side='primary'>
    <a class='button button-icon icon custom-icon' nav-direction='back' href='#/list-view'><img src="img/icon_list.svg"></a>
  </ion-nav-buttons>
  <ion-content ng-controller="MapCtrl" ng-init="initialize()">
    <div id="map" data-tap-disabled="true"></div>
    <ion-slide-box active-slide="activeSlide">
      <ion-slide>
        <div class="box blue"><h3>Slide example</h3></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h3>Slide example</h3></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h3>Slide example</h3></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>