<ion-view view-title='MENU'>
  <ion-content>
  	<div class="welcome-screen">
	    <div class="ws-logo">
	    	<img src="img/kazimir_logo.svg">
	    	<h3 class="ws-logo-subtitle ws-border-bottom">{{"sub_title" | translate}}</h3>
	    </div>
	    <div class="ws-navigation">
        <ul class="ws-navigation--list">
          <li>{{"nav_left" | translate}} {{"discover_past" | translate}}</li>
          <li>{{"nav_right" | translate}} {{"discover_present" | translate}}</li>
          <li>{{"click_reverse" | translate}}</li>
        </ul>
	    </div>
	    <div class="ws-language">
	    	<p class="ws-navigation-header">{{"language" | translate}}</p>
	    	<div class="ws-language-buttons">
	    		<button class='button ws-change-language ws-language-en' ng-class="{active: lang == 'en'}" ng-click="setLanguage('en');"><span>ENG</span></button>
	    		<button class='button ws-change-language ws-language-pl' ng-class="{active: lang == 'pl'}" ng-click="setLanguage('pl');"><span>PL</span></button>
	    	</div>
	    </div>
	    <div class="ws-button">
	    	<a class='button ws-gotit' nav-direction='enter' href='#/list-view'>{{"discover_button" | translate}}</a>
        <div class="ws-loading-error" ng-if="loadingError">{{"loading_error" | translate}}</div>
	    </div>
	</div>
  </ion-content>
</ion-view>
