<ion-view view-title='MENU'>
  <ion-content>
  	<div class="welcome-screen">
	    <div class="ws-logo">
	    	<img src="img/kazimir_logo.svg">
	    	<h3 class="ws-logo-subtitle ws-border-bottom">{{"sub_title" | translate}}</h3>
	    </div>
	    <div class="ws-navigation">
	    	<div class="ws-naviagation-left ws-border-bottom">
	    		<!-- <a class="ws-button-left" nav-direction='enter' href='#/list-view'></a> -->
	    		<p class="ws-navigation-header">{{"nav_left" | translate}}</p>
	    		<p class="ws-navigation-description">{{"discover_past" | translate}}</p>
	    	</div>
	    	<div class="ws-naviagation-right ws-border-bottom">
	    		<p class="ws-navigation-header">{{"nav_right" | translate}}</p>
	    		<p class="ws-navigation-description">{{"discover_present" | translate}}</p>
	    		<!-- <a class="ws-button-right" nav-direction='enter' href='#/list-view'></a> -->
	    	</div>
	    </div>
	    <div class="ws-language">
	    	<!--<p class="ws-navigation-header">{{"language" | translate}}</p> -->
	    	<div class="ws-language-buttons">
	    		<button class='button ws-change-language ws-language-en' ng-class="{active: lang == 'en'}" ng-click="setLanguage('en');"><span>eng</span></button>
	    		<button class='button ws-change-language ws-language-pl' ng-class="{active: lang == 'pl'}" ng-click="setLanguage('pl');"><span>pl</span></button>
	    	</div>
	    </div>
	    <div class="ws-button">
	    	<a class='button ws-gotit' nav-direction='enter' href='#/list-view'>{{"discover_button" | translate}}</a>
        <div class="ws-loading-error" ng-if="loadingError">{{"loading_error" | translate}}</div>
	    </div>
	</div>
  </ion-content>
</ion-view>
