<ion-view>
  <ion-content>
    <div class='flipper'>
      <div class='container flipped'>
        <div class='front'> 
          <div class="single-content">
            <div class="bar bar-header bar-old">    
              <h1 class="title">{{street.name}}</h1>
              <a class='button button-clear icon-right ion-arrow-right-c' nav-direction='forward' href='#/list-view'></a>
            </div>
            <ion-slide-box active-slide="activeSlide" class="post-slider">
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.past[0].photos[0].images.medium}}"></div>
              </ion-slide>
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.past[0].photos[0].images.medium}}"></div>
              </ion-slide>
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.past[0].photos[0].images.medium}}"></div>
              </ion-slide>
            </ion-slide-box>
            <div class="sc-container">
              <h3>{{street.places.past[0].details.pl.name}}</h3>
              <div>{{street.places.past[0].details.pl.description}}</div>
            </div>
          </div>    
        </div>
        <div class='back'>
         <div class="single-content">
            <div class="bar bar-header bar-new">  
              <a class='button button-clear icon-left ion-arrow-left-c' nav-direction='back' href='#/list-view'></a>  
              <h1 class="title">{{street.name}}</h1>
            </div>
            <ion-slide-box active-slide="activeSlide" class="post-slider">
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.present[0].photos[0].images.medium}}"></div>
              </ion-slide>
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.present[0].photos[0].images.medium}}"></div>
              </ion-slide>
              <ion-slide>
                <div class="sc-slide"><img ng-src="{{street.places.present[0].photos[0].images.medium}}"></div>
              </ion-slide>
            </ion-slide-box>
            <div class="sc-container">
              <h3>{{street.places.present[0].details.pl.name}}</h3>
              <div>{{street.places.present[0].details.pl.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='button-container'> 
      <a class='button button-icon' id="toggleButton" ng-click='rotate()'>click</a>  
    </div>
   
  </ion-content>
</ion-view>