<ion-view>
  <ion-nav-bar class='bar-header'></ion-nav-bar>

  <ion-nav-buttons>
    <a class='button button-clear icon-left ion-arrow-left-c' nav-direction='forward' href='#/list-view'>BACK</a>
  </ion-nav-buttons>
  <ion-content>
    <div class='flipper'>
      <div class='container flipped'>
        <div class='front'> 
          <div class="single-content">
          <ion-slide-box active-slide="activeSlide" class="post-slider">
              <ion-slide>
                <div class="box blue"><h3>Slide example</h3></div>
              </ion-slide>
              <ion-slide>
                <div class="box yellow"><h3>Slide example</h3></div>
              </ion-slide>
              <ion-slide>
                <div class="box pink"><h3>Slide example</h3></div>
              </ion-slide>
            </ion-slide-box>
          <h3>Old</h3>
            <h3>{{street.description.old.title}}</h3>
            <div>{{street.description.old.text}}</div>
          </div>    
        </div>
        <div class='back'>
         <div class="single-content">
            <ion-slide-box active-slide="activeSlide" class="post-slider">
              <ion-slide>
                <div class="box blue"><h3>Slide example</h3></div>
              </ion-slide>
              <ion-slide>
                <div class="box yellow"><h3>Slide example</h3></div>
              </ion-slide>
              <ion-slide>
                <div class="box pink"><h3>Slide example</h3></div>
              </ion-slide>
            </ion-slide-box>
            <h3>New</h3>
            <h3>{{street.description.after.title}}</h3>
            <div>{{street.description.after.text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class='button-container'> 
      <a class='button button-icon' id="toggleButton" ng-click='rotate()'>click</a>  
    </div>
   
  </ion-content>
</ion-view>