/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$graylogo: #757575;
$basefontgray: #424242;
$basedark: #3e3e3e;
$baseold: #d8c542;
$basenew: #40a9bc;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
/* Empty. Add your own CSS if you like */

/* BEGIN Light */

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/Light/OpenSans-Light.eot');
    src:url('../fonts/Light/OpenSans-Light.eot') format('embedded-opentype'),
        url('../fonts/Light/OpenSans-Light.woff') format('woff'),
        url('../fonts/Light/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/Light/OpenSans-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/LightItalic/OpenSans-LightItalic.eot');
    src:url('../fonts/LightItalic/OpenSans-LightItalic.eot') format('embedded-opentype'),
        url('../fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
        url('../fonts/LightItalic/OpenSans-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/Regular/OpenSans-Regular.eot');
    src:url('../fonts/Regular/OpenSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/Regular/OpenSans-Regular.woff') format('woff'),
        url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/Regular/OpenSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/Italic/OpenSans-Italic.eot');
    src:url('../fonts/Italic/OpenSans-Italic.eot') format('embedded-opentype'),
        url('../fonts/Italic/OpenSans-Italic.woff') format('woff'),
        url('../fonts/Italic/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts/Italic/OpenSans-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/Semibold/OpenSans-Semibold.eot');
    src:url('../fonts/Semibold/OpenSans-Semibold.eot') format('embedded-opentype'),
        url('../fonts/Semibold/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/Semibold/OpenSans-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
    src:url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot') format('embedded-opentype'),
        url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
        url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/Bold/OpenSans-Bold.eot');
    src:url('../fonts/Bold/OpenSans-Bold.eot') format('embedded-opentype'),
        url('../fonts/Bold/OpenSans-Bold.woff') format('woff'),
        url('../fonts/Bold/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/Bold/OpenSans-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/BoldItalic/OpenSans-BoldItalic.eot');
    src:url('../fonts/BoldItalic/OpenSans-BoldItalic.eot') format('embedded-opentype'),
        url('../fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/BoldItalic/OpenSans-BoldItalic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/ExtraBold/OpenSans-ExtraBold.eot');
    src:url('../fonts/ExtraBold/OpenSans-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/ExtraBold/OpenSans-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
    src:url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot') format('embedded-opentype'),
        url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg') format('svg');
    font-weight: 800;
    font-style: italic;
}

.scroll{height: 100%;}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.flipper {
  -webkit-perspective: 1000;
     -moz-perspective: 1000;
       -o-perspective: 1000;
          perspective: 1000;
}

.flipper .container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
     -moz-transition: -moz-transform 0.8s;
       -o-transition: -o-transform 0.8s;
          transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

.flipper .container {
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
  }

}

.flipper .container .front {
  z-index: 2;
  -webkit-transform: rotateY( 0deg );
     -moz-transform: rotateY( 0deg );
       -o-transform: rotateY( 0deg );
          transform: rotateY( 0deg );
}

.flipper .container .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.flipper .container.flipped {
  -webkit-transform: rotateY( -180deg );
     -moz-transform: rotateY( -180deg );
       -o-transform: rotateY( -180deg );
          transform: rotateY( -180deg );
}

* {
  font-family: 'Open Sans';
}
// Welcome screen
.welcome-screen {
  text-align: center;
  height: 100%;
  position: relative;
  padding: 10%;
  .ws-logo-subtitle {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: $graylogo;
  }
  .ws-navigation,
  .ws-language {
    font-size: 16px;
    color: $basedark;
    display: inline-block;
    width: 100%;
  }

  .ws-navigation-header {
    font-weight: 600;
  }
  .ws-navigation-description {
    font-weight: 300;
  }
  .ws-language {
    padding-top: 20px;
    height: 15vh;
  }
  .ws-language-buttons {
    text-transform: uppercase;
    .ws-change-language {
      border-radius: 50%;
      font-size: 14px;
      width: 55px;
      height: 55px;
      background-color: $light;
      border-color: $basedark;
      position: relative;
      &.ws-language-en {
        right: 10px;
      }
      &.ws-language-pl {
        left: 10px;
      }
      &.active {
        background-color: $baseold;
        border-color: $baseold;
        span {
          color: $light;
          font-weight: 600;
        }
      }
      span {
        position: relative;
      }
    }
  }
  .ws-border-bottom {
    border-bottom: 1px solid $graylogo;
    padding: 10px 0;
    margin-top: 10px;
  }
}
.ws-logo {
  height: 26vh;
  display: inline-block;
  width: 100%;
  img {
    width: 50%;
    height: auto;
  }
}
.ws-navigation {
  height: 30vh;
  .ws-naviagation-left {
    position: relative;
  }
  .ws-button-left {
    background: url(../img/welcome_screen_chevron_left.svg) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    border: none;
  }
  .ws-naviagation-right {
    position: relative;
  }
  .ws-button-right {
    display: block;
    width: 23px;
    height: 40px;
    position: absolute;
    top: 20%;
    right: 0;
    background: url(../img/welcome_screen_chevron_right.svg) no-repeat;
    border: none;
  }
}
.ws-button {
  padding: 15px 0 0 0;
  height: 20vh;
  .ws-gotit {
    width: 100%;
    background-color: $basenew;
    color: $light;
  }
}


.ws-loading-error{
  padding: 10px 0 0 0;
  font-size: 10px;
  color: #c00;
  text-align: center;
}

//LIST VIEW
.bar-header {
  background-color: $light;
}
.item-kazimir {
  padding: 0;
  position: relative;
  min-height: 200px;
  height: 35vh;
  border: none;
  .street-item {
    height: 100%;
    text-align: center;
    .button {
      min-height: 30px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: $light;
      font-size: 30px;
      &:before {
        position:relative;
        bottom: 6px;
      }
    }
  }
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .street-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
    background-image: -ms-linear-gradient(top left, #323232 0%, #000000 100%);
    background-image: -moz-linear-gradient(top left, #323232 0%, #000000 100%);
    background-image: -o-linear-gradient(top left, #323232 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #323232), color-stop(1, #000000));
    background-image: -webkit-linear-gradient(top left, #323232 0%, #000000 100%);
    background-image: linear-gradient(to bottom right, #323232 0%, #000000 100%);
  }
  .street-click-mask-old {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;
  }
  .street-click-mask-new {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}
.list-item-buttons {
  position: relative;
  top: 45%;
  // margin: 0 10px;
  .button {
    position: absolute;
    top: 0;
    z-index: 10;
    &.ion-chevron-left {
      left: 10px;
    }
    &.ion-chevron-right {
      right: 10px;
    }
  }
}
.item-name {
  width: 100%;
  font-weight: bold;
  color: $light;
  font-size: 7vw;
  position: relative;
  top: 5px;
}

// Button switch and animation

.button-container {
  position:fixed;
  bottom: 5%;
  left:0px;
  right:0px;
  text-align: center;
  vertical-align: middle;
}
.toggle-button {
  background: url(../img/flip.svg) no-repeat;
  background-size: 48px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &.old {
    background-color: $baseold;
  }
  &.new {
    background-color: $basenew;
  }
}

// Map view

.angular-google-map-container {
  min-height: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}
.map-street-list {
  width: 100%;
  height: 13%;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.8);
  bottom: 0;
  top: inherit;
  z-index: 1;
  &.active {
    height: 37%;
  }
}
.map-street-item {
  padding: 15px 0;
  border: 1px solid #eee;
  .button {
    display: inline-block;
    &.ion-chevron-right {
      float: right;
    }
  }
  .map-item-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
.item-label {
  width: 100%;
  height: 13%;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.8);
  bottom: 0;
  top: inherit;
  z-index: 100;
  .selected-item {
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }
  a {
    position: absolute;
    top: 20px;
    &.ion-chevron-left {
      left: 10px;
    }
    &.ion-chevron-right {
      right: 10px;
    }
  }
}

// List on the map view

.m-button-container {
  bottom: 14%;
  z-index: 0;
  .open-map-list {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: rgba(224, 224, 224, 0.8);
    .icon {
      top: 2px;
      left: 1px;
      position: relative;
      color: #565656;
    }
  }
  &.active {
    bottom: 38%;
  }
}
// Header

.header-logo {
  width: 50%;
  position: relative;
  left: 10px;
  img {
    width: 75%;
    position: relative;
    top: 8px;
  }
}
.header-nav {
  position: absolute;
  right: 10px;
  top: 3px;
}
.custom-icon {
  width: 45px;
  margin-top: 6px;
  img {
    width: 100%;
    height: auto;
  }
}

.description {
  top: 100px;
}

//SINGLE ITEM

.single-content {
  color: $basefontgray;
  background: #fff;
  img {
    width: 100%;
    height: auto;
  }
}
.sc-container {
  padding: 20px;
  text-align: left;
}
.bar {
  .button,
  .title {
    color: $light;
  }

}
.bar-header {
  &.new {
    background-color: $basenew;
    .button {
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
    }
  }
  &.old {
    background-color: $baseold;
    .button {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
    }
  }
}
