// Header

.header-logo {
  width: 50%;
  position: relative;
  left: 10px;
  img {
    width: 75%;
    position: relative;
    top: 8px;
  }
}
.header-nav {
  position: absolute;
  right: 10px;
  top: 3px;
}
.custom-icon {
  width: 45px;
  margin-top: 6px;
  img {
    width: 100%;
    height: auto;
  }
}

.description {
  top: 100px;
}
